<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
  >
  <ng-container *ngIf="item.iconType==IconTypeEnum.FontIcon">
    <i class="routeIcon routeFontIcon" [ngClass]="item.iconName"></i>
  </ng-container>
  <ng-container *ngIf="item.iconType!=IconTypeEnum.FontIcon">
    <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
  </ng-container>
    {{item.displayName}}
  <span fxFlex *ngIf="item.children && item.children.length" class="ml-auto">
    <span fxFlex></span>

    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-sidebar-nav *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-sidebar-nav>
</div>
